<!DOCTYPE html>
<!-- License: https://codyhouse.co/mit -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" th:href="@{/css/schedule-style.css}"
	href="../css/schedule-style.css">
<th:block th:replace="fragments/head :: header" />
<title>Horario</title>

</head>

<body>
	<!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

	<!-- Add your site or application content here -->

	<div th:replace="fragments/nav.html :: nav">Nav goes here</div>

	<header class="cd-main-header text-center flex flex-column flex-center">
		<h4 class="center-align">Panel de administración</h4>
	</header>

	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a class="active" href="#buscador">Buscador</a></li>
				<li class="tab col s3"><a href="#psicologos">Psicólogos</a></li>
				<li class="tab col s3"><a href="#pacientes">Pacientes</a></li>
				<li class="tab col s3"><a href="#administradores">Administradores</a></li>
			</ul>
		</div>
		<div id="psicologos" class="col s12">
			<ul class="collection">
				<li th:each="p : ${psicologos}" class="collection-item avatar"><img th:src="@{${'/user/' + p.id + '/photo?=' + p.id}}"
					alt="" class="circle"> <span class="title"><b th:text="'#' + ${p.id} + ' | ' + ${p.username}">Title</b></span>
					<p th:text="${p.firstName}">Nombre</p>
					<p th:text="${p.lastName}">Apellidos</p>
					<div class="secondary-content">
						<a th:href="'/user/' + ${p.id}"><i class="material-icons">remove_red_eye</i></a> 
						<a th:data-id="${p.id}" href="#modal2" class="borrar modal-trigger"><i class="material-icons">delete</i></a> 
					</div>
				</li>
			</ul>
		</div>
		<div id="pacientes" class="col s12">
			<ul class="collection">
				<li th:each="p : ${pacientes}" class="collection-item avatar"><img th:src="@{${'/user/' + p.id + '/photo?=' + p.id}}"
					alt="" class="circle"> <span class="title"><b th:text="'#' + ${p.id} + ' | ' + ${p.username}">Title</b></span>
					<p th:text="${p.firstName}">Nombre</p>
					<p th:text="${p.lastName}">Apellidos</p>
					<div class="secondary-content">
						<a th:href="'/user/' + ${p.id}"><i class="material-icons">remove_red_eye</i></a> 
						<a th:data-id="${p.id}" href="#modal2" class="borrar modal-trigger"><i class="material-icons">delete</i></a> 
						<a href="#nuevo-psicologo"><i class="material-icons">autorenew</i></a>
					</div>
				</li>
			</ul>
		</div>
		<div id="administradores" class="col s12">
			<ul class="collection">
				<li th:each="p : ${administradores}" class="collection-item avatar"><img th:src="@{${'/user/' + p.id + '/photo?=' + p.id}}"
					alt="" class="circle"> <span class="title"><b th:text="'#' + ${p.id} + ' | ' + ${p.username}">Title</b></span>
					<p th:text="${p.firstName}">Nombre</p>
					<p th:text="${p.lastName}">Apellidos</p>
					<div class="secondary-content">
						<a th:href="'/user/' + ${p.id}"><i class="material-icons">remove_red_eye</i></a> 
						<a th:data-id="${p.id}" href="#modal2" class="borrar modal-trigger"><i class="material-icons">delete</i></a> 
					</div>
				</li>
			</ul>
		</div>
		
		<div id="buscador" class="col s12">
		
		<h5 class="center-align">Buscador</h5>


			<div class="nav-wrapper">
				<form>
					<div class="input-field">
						<input id="search" type="search" required> <label
							class="label-icon" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>
				</form>
			</div>
			
			<!-- Búsqueda -->
			
			<ul class="collection">
				<li th:each="p : ${administradores}" class="collection-item avatar"><img th:src="@{${'/user/' + p.id + '/photo?=' + p.id}}"
					alt="" class="circle"> <span class="title"><b th:text="'#' + ${p.id} + ' | ' + ${p.username}">Title</b></span>
					<p th:text="${p.firstName}">Nombre</p>
					<p th:text="${p.lastName}">Apellidos</p>
					<div class="secondary-content">
						<a th:href="'/user/' + ${p.id}"><i class="material-icons">remove_red_eye</i></a> 
						<a th:data-id="${p.id}" href="#modal2" class="borrar modal-trigger"><i class="material-icons">delete</i></a> 
						<a href="#nuevo-psicologo"><i class="material-icons">autorenew</i></a>
					</div>
				</li>
			</ul>
			
			


		</div>
	</div>

	<div id="add-button" class="fixed-action-btn">
		<a class="btn-floating btn-large waves-effect waves-light red"> <i
			class="material-icons">add</i>
		</a>
		<ul>
			<li><a class="btn-floating blue modal-trigger" href="#modal1"><i
					class="material-icons">supervisor_account</i></a></li>
		</ul>
	</div>
	
	<div id="modal1" class="modal">
		<form th:action="@{/psicologo/saveAppointment}" method="post"
			name="createGroupAppointmentForm">

			<div class="modal-content">
				<h4>Añadir un nuevo usuario</h4>


				<!-- Con el validate te sale la linea roja -->

				<div class="input-field col s6">
					<input name="name" placeholder="Nombre del usuario" type="text"
						class="validate" required pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ_-]+">

				</div>
				
				<div class="input-field col s6">
					<input name="name" placeholder="Apellidos del usuario" type="text"
						class="validate" required pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ_-]+">

				</div>
				
				<div class="input-field col s6">
					<input name="name" placeholder="Dirección de correo electrónico del usuario" type="text"
						class="validate" required pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ_-]+">

				</div>
				
				<div class="input-field col s6">
					<input name="name" placeholder="Nick del usuario en la plataforma" type="text"
						class="validate" required pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ_-]+">

				</div>
				
				
				<div class="input-field col s6">
					<input name="name" placeholder="Contraseña" type="text"
						class="validate" required pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ_-]+">

				</div>
				
				<div id="chip1" class="chips"></div>
				
				<p>Selecciona los roles del usuario</p>
				<div class="emotion-state">
					<a onclick="very_dissatisfied();"
						class="waves-effect waves-light btn-small"> <i
						class="material-icons">sentiment_very_dissatisfied</i>
					</a> <a onclick="dissatisfied();"
						class="waves-effect waves-light btn-small"> <i
						class="material-icons">sentiment_dissatisfied</i>
					</a> <a onclick="satisfied();"
						class="waves-effect waves-light btn-small"> <i
						class="material-icons">sentiment_satisfied</i>
					</a> <a onclick="satisfied_alt();"
						class="waves-effect waves-light btn-small"> <i
						class="material-icons">sentiment_satisfied_alt</i>
					</a> <a onclick="very_satisfied();"
						class="waves-effect waves-light btn-small"> <i
						class="material-icons">sentiment_very_satisfied</i>
					</a>
				</div>

			</div>
			<div class="modal-footer">
				<a class="modal-close waves-effect btn-flat">Cancelar</a>
				<button type="submit" class="modal-close waves-effect btn-flat">Aceptar</button>
			</div>
		</form>
		</div>
	
	<div id="modal2" class="modal">
		<div class="modal-content">
			<h4>¿Estás seguro que deseas eliminar este usuario?</h4>
			<p>Esta usuario será eliminada del sistema y ya no podrá ser
				recuperado</p>
		</div>
		<div class="modal-footer">
			<a id="delete" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
			<a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
		</div>
	</div>
	
	<script>
	
	function iniciar() {
		document.querySelectorAll('.borrar').forEach(item => {
			  item.addEventListener('click', event => {
					var a = item.getAttribute("data-id");
					var eliminate = document.getElementById("delete");
					eliminate.href = "/admin/deleteUser?id=" + a;
			  });
		});
	}
	
	window.onload = iniciar;//lo inicia al cargar la pagina

	
	</script>

	<footer th:replace="fragments/footer.html :: footer"> Footer
		goes here </footer>

</body>

</html>