<!-- Calendar MIT License -> https://codepen.io/mgrsskls/pen/KgQQgL -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Estadisticas</title>

<link rel="stylesheet" href="/css/calendario.css">
<link rel="stylesheet" href="/css/estadisticasPaciente.css">

<th:block th:replace="fragments/head :: header" />


</head>
<body onload="renderDate()">

	<div th:replace="fragments/nav.html :: nav">Nav goes here</div>


	
	<h4 class="center-align">Estadísticas de ánimo</h4>

	<div class="calendar">
		<div class="month">
			<div class="prev" onclick="moveDate('prev')">
				<span>&#10094;</span>
			</div>
			<div>
				<h2 id="month"></h2>
				<p id="date_str"></p>
			</div>
			<div class="next" onclick="moveDate('next')">
				<span>&#10095;</span>
			</div>
		</div>
		<div class="weekdays">
			<div>Dom</div>
			<div>Lun</div>
			<div>Mar</div>
			<div>Mie</div>
			<div>Jue</div>
			<div>Vie</div>
			<div>Sab</div>
		</div>

		<div class="days"></div>

	</div>

	<div id="modal" class="modal">
		<form th:action="@{/paciente/saveEmotionalState}" method="post"
			name="modifyEmotionalStateForm">
			<div class="modal-content">
				<div>
					<h4 class="center-align">¿Cómo te sientes?</h4>
					<h5 class="center-align">
						Dia <span class="day-click-by-user"></span>
					</h5>
				</div>

				<input id="selectedDate" name="date" type="hidden"> 
				<input id="emotionalState" name="emotionalState" type="hidden">


				<p>Selecciona tu estado de ánimo</p>
				<div class="emotion-state">
					<a onclick="very_dissatisfied();"
						class="waves-effect waves-light btn-small"> <i
						class="material-icons">sentiment_very_dissatisfied</i>
					</a> <a onclick="dissatisfied();"
						class="waves-effect waves-light btn-small"> <i
						class="material-icons">sentiment_dissatisfied</i>
					</a> <a onclick="satisfied();"
						class="waves-effect waves-light btn-small"> <i
						class="material-icons">sentiment_satisfied</i>
					</a> <a onclick="satisfied_alt();"
						class="waves-effect waves-light btn-small"> <i
						class="material-icons">sentiment_satisfied_alt</i>
					</a> <a onclick="very_satisfied();"
						class="waves-effect waves-light btn-small"> <i
						class="material-icons">sentiment_very_satisfied</i>
					</a>
				</div>
				<h5 id="emotion">Hoy te sientes:</h5>

				<p>Explica porqué te siente así</p>
				<div class="input-field col s12">
					<textarea id="description" name="description"
						class="materialize-textarea"></textarea>

				</div>
			</div>

			<div class="modal-footer">
				<a
					class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
				<button type="submit" class="modal-close waves-effect btn-flat">Aceptar</button>
			</div>
		</form>
	</div>

	<footer th:replace="fragments/footer.html :: footer"> Footer
		goes here </footer>

	<script type="text/javascript" th:inline="javascript">
		var dt = new Date();

		function renderDays() {
			//TODO: CONNECT THIS PART WITH OUR MODEL
			dt.setDate(1);
			var dayOne = dt.getDay();
			var today = new Date();
			//Takes a new Date object with the last day of the current month
			//Outside Spain, the week starts on Sunday
			var endDate = new Date(dt.getFullYear(), dt.getMonth() + 1, 0)
					.getDate();

			//Takes the last day of the previous month
			var prevDate = new Date(dt.getFullYear(), dt.getMonth(), 0)
					.getDate();

			for (i = 1; i <= endDate; i++) {
				cells += "<div>"
						+ "<a style='color: #000000; display:block' class='modal-trigger' href=#modal>"
						+ i + "</a>" + "</div>";

			}

			//TODO aquí thymeleaf

		}

		function very_dissatisfied() {
			document.getElementById("emotionalState").value = 1;
			document.getElementById("emotion").innerHTML = 'Hoy te sientes: muy triste';
		}

		function dissatisfied() {
			document.getElementById("emotionalState").value = 2;
			document.getElementById("emotion").innerHTML = 'Hoy te sientes: triste';
		}

		function satisfied() {
			document.getElementById("emotionalState").value = 3;
			document.getElementById("emotion").innerHTML = 'Hoy te sientes: bien';
		}

		function satisfied_alt() {
			document.getElementById("emotionalState").value = 4;
			document.getElementById("emotion").innerHTML = 'Hoy te sientes: muy bien';
		}

		function very_satisfied() {
			document.getElementById("emotionalState").value = 5;
			document.getElementById("emotion").innerHTML = 'Hoy te sientes: genial';
		}
	</script>


	<script src="/js/vendor/calendario.js"></script>

	<script>
		$(document).ready(function() {
			$('.sidenav').sidenav();
			$('.collapsible').collapsible();
			$('select').formSelect();
			$('.modal').modal();
			$('.trigger-modal').modal();
		});
	</script>




</body>
</html>
