<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mis Pacientes</title>
	
	<th:block th:replace="fragments/head :: header"></th:block>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/my-theme.css">
    <link href="https://fonts.googleapis.com/css?family=Muli|Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- VUESTRO???
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    -->
    
  </head>
<body>
<div th:replace="fragments/nav.html :: nav">
		Nav goes here
	</div>

<h4 class="center-align">Mis pacientes</h4>

    <div class="row">

      <div class="col s6">
        <ul class="collection">
        	<li th:if="${pacientes.empty}"> No hay pacientes </li>
	        <li class="collection-item avatar" th:each="u, itemstat: *{pacientes}">
	          <img src="/image/ejemplo_opt.jpg" alt="" class="circle">
	          <span th:text="${u.firstName}"> Title </span>
	          <span th:text="${u.lastName}"> Title </span>
	          <p>
	          <span th:text="${u.mail}"> Title </span><br>
	          <!-- <span th:text="${u.phoneNumber}"> Title </span><br> 
	          </p>
	          <p>Trastorno de ansiedad <br>
	             Receta: Pastillas fuertes
	          </p>-->
	          <button th:attr="data-user-mail=${u.mail}" class="waves-effect blue lighten-5 blue-text text-darken-2 btn pacientBTN">ver info</button>
	        </li>
      </ul>
    </div>
    
    <!--  <div class="col s6">
      <div class="card">
        <div class="card-content">
          <span class="card-title" id="pacientName"></span>
            <div class ="row valign-wrapper">
              <div class="col s4">
                <img src="/image/ejemplo.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8">
              <form action="#" method="post">
	             <span class = "title"></span>
	          	 <p>Trastorno: <input type = "text" id="pacientDisorder"/></p>
	          	 <p>Tratamiento: <input type = "text" id="pacientTreatment"/></p>
	          	 <a class="savePacient" href="#">Guardar cambios</a>
	          	 <span></span>
	          	 <span></span>
	          	 <span></span>
	          </form>
              </div>
            </div>
            <div class="sidebar">
							<textarea id="message" placeholder="escribe a este usuario" rows="4" cols="20"></textarea>
							<button class="sendmsg" type="submit">Enviar</button>
							<span id="sent-confirmation">Mensaje enviado</span>
						</div>
          </div>
          <div class="card-action">
	          <a id="contact" href="#">Contactar</a>
	          <a href="#">Nueva cita</a>
	        </div>
	        
        <div class="col-md-12">
        	<button id="get-user-history" class="waves-effect light-blue lighten-5 light-blue-text btn">Obtener historial</button>
        	<a id="add-new-entry" href="#entry-modal" class="waves-effect light-blue lighten-5 light-blue-text btn modal-trigger">Nueva entrada</a>
	        <ul id="entry-history" class="collection"></ul>    
      	</div>
    </div>
    </div>
  	<div id="entry-modal" class="modal">
			<div class="modal-content">
					<p id="error-text">Ambos campos no deben de estar vacios</p>
					<p>Entrada del historial</p>
	      	<textarea id="entry-text" cols="80" placeholder="Escribe la nueva entrada"></textarea>
				<div class="modal-footer">
					<span id="result-text">¡Entrada guardada!</span>
					<a class="modal-action waves-effect waves-green btn-flat accept-user" id="accept-entry">Aceptar</a>
					<a class="modal-action modal-close waves-effect waves-red btn-flat reject-entry">Cancelar</a>
				</div>
			</div>
		</div>-->
</body>
</html>
