<!DOCTYPE html>
<!-- License: https://codyhouse.co/mit -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" th:href="@{/css/schedule-style.css}"
	href="../css/schedule-style.css">
<th:block th:replace="fragments/head :: header" />
<title>Mis pacientes</title>
<meta name="theme-color" content="#fafafa">

</head>
<body>
	<div th:replace="fragments/nav.html :: nav">Nav goes here</div>
	<h4 class="center-align">Mis pacientes</h4>
	<main>
		<div class="row">

			<div class="col s6">
				<ul class="collection">

					<li class="collection-item avatar" th:each="pat : ${u.pacientes}">
						<img th:src="@{${'/user/' + pat.id + '/photo?=' + pat.id}}" alt=""
						class="circle"> <span class="title"
						th:text="${pat.firstName}">Nombre</span>
						<p th:text="${pat.lastName}">Apellido</p> <a
						th:href="@{/psicologo/pacientes(id=${pat.id})}"
						class=" waves-effect pink lighten-5 pink-text text-darken-2 btn pacientBTN">Mas
							sobre el paciente</a>

					</li>

				</ul>

			</div>

			<div class="row">
				<div class="col s6">
					<div class="card">
						<div class="card-image">
							<img th:if=${patie} width="256" height="256"
								th:src="@{${'/user/' + patie.id + '/photo?=' + patie.id}}">
						</div>
						<div class="card-content">
							<b> <span class="title">Datos del paciente: </span></b><br>
							<span>Nombre: </span><span th:if=${patie}
								th:text="${patie.firstName}"></span><br> <span>Apellidos:
							</span> <span th:if=${patie} th:text="${patie.lastName}"></span><br>
							<span>Mail: </span> <span th:if=${patie} th:text="${patie.mail}"></span><br>
							<span>Tratamiento: </span> <span th:if=${patie}
								th:text="${patie.treatment}"></span><br> <span>Diagnostico:
							</span> <span th:if=${patie} th:text="${patie.disorder}"></span>
						</div>
						<div class="card-action">

							<form th:action="@{/psicologo/addTreatment}" method="post"
								name="addTreatmentForm">
								<p>
									Tratamiento: <input name="treatment" type="text" id="treatment" />
									<!--  con id coge el script de abajo y con name lo pasa al controller -->
								</p>
								<p>
									Diagnostico: <input name="disorder" type="text" id="disorder" />

								</p>

								<input th:if=${patie} type="hidden" th:value="${{patie.id}}"
									name="id" />
								<button type="submit"
									class="modal-close waves-effect pink lighten-5 pink-text text-darken-2 btn pacientBTN">Guardar</button>

							</form>
							<br>
							<form th:action="@{/psicologo/addPsycologistEntry}" method="post"
								name="addPsycologistEntryForm">
								<p>
									Nueva entrada: <input name="description" type="text"
										id="description" />

								</p>
								<input th:if=${patie} type="hidden" th:value="${{patie.id}}"
									name="id" />

								<button type="submit"
									class="modal-close waves-effect pink lighten-5 pink-text text-darken-2 btn pacientBTN">Guardar</button>

							</form>

						</div>

						<div>
							<ul class="collapsible">
								<li>
									<div class="collapsible-header">
										<i class="material-icons">border_color</i> Mis entradas
									</div>
									<div class="collapsible-body">
										<ul th:if=${patie} class="card collection">
											<li class="collection-item avatar"
												th:each="des : ${patie.description}"><b><span>Fecha:</span></b>
												<span
												th:text="${#temporals.format(des.date, 'dd-MMM-yyyy')}"></span>
												<br> <b><span>Entrada:</span></b> <span
												th:text="${des.description}"></span></li>
										</ul>
									</div>

								</li>
								<li>
									<div class="collapsible-header">
										<i class="material-icons">face</i> Entradas del paciente
									</div>
									<div class="collapsible-body">
										<ul th:if=${patie} class="card collection">
											<li th:if=${patie} class="collection-item avatar"
												th:each="emo : ${patie.emotionalState}"><b> <img
													th:src="@{${'/user/' + patie.id + '/photo?=' + patie.id}}"
													alt="" class="circle"><span>Fecha:</span></b> <span
												th:text="${#temporals.format(emo.date, 'dd-MMM-yyyy')}"></span><br>
												<b><span>Estado de animo:</span></b> <span
												th:if="${emo.emotionalState == 1}">Muy triste</span> <span
												th:if="${emo.emotionalState == 2}">Triste</span> <span
												th:if="${emo.emotionalState == 3}">Bien</span> <span
												th:if="${emo.emotionalState == 4}">Muy bien</span> <span
												th:if="${emo.emotionalState == 5}">Genial</span> <br>
												<b><span>Entrada:</span></b> <span
												th:text="${emo.description}"></span></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
</main>
		<script th:inline="javascript">
		
		//Se debería de llamar al iniciar
				
		function iniciar() {
			
			document.querySelectorAll('.patient').forEach(item => {//coge todos los <> que tengan la palabra patient 
				  item.addEventListener('click', event => {//para cada uno, espera a ser clicado
					  event.preventDefault();//evita la accion por defecto del boton
					  document.getElementById("photo").src='/user/' + item.getAttribute("data-id") + '/photo?=' + item.getAttribute("data-id");

					  document.getElementById("ID").value = item.getAttribute("data-id");
					  document.getElementById("name").innerHTML = item.getAttribute("data-name");
					  document.getElementById("lastname").innerHTML =  item.getAttribute("data-lastname");
					  document.getElementById("mail").innerHTML = item.getAttribute("data-mail");
					  document.getElementById("disorder").innerHTML = item.getAttribute("data-disorder");
					  document.getElementById("treatment").innerHTML = item.getAttribute("data-treatment");
					  mostrarPaciente(item.getAttribute("data-id"));
				  })
				})
				
				
				
		}
		
		window.onload = iniciar;//lo inicia al cargar la pagina

		
	 	function mostrarPaciente(id) {
			/*<![CDATA[*/
				
			var pacientes = /*[[${u.pacientes}]]*/ 'default';
			console.log(pacientes);
			var p = /*[[${u.description}]]*/ 'default';
			console.log(p);

				for(var i = 0;i< pacientes.length;i++){
					if(pacientes[i].id==id){
						//var p = /*[[${u.description}]]*/ 'default';
					}
				}

			/*]]>*/

	 		
	 	}
		</script>

		<script>
		$(document).ready(function(){
				$('.collapsible').collapsible();
		});
				</script>

		<footer th:replace="fragments/footer.html :: footer"> Footer
			goes here </footer>
</body>
</html>



